<div class="container">
        <center><h1>Package Commit Viewer</h1></center>
        <br>
        <%= form_tag("/fetch", method: "post", id: "submitForm") do %>
        <input class="span2" id="branch_name" name="branch_name" type="hidden" >
                <div class="row">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" onchange='this.form.submit()'>Select Branch
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% @branches.each do |branch| %>
      <li onclick="$('#branch_name').val('<%= branch %>'); $('#submitForm').submit()"><a href="#"><%= branch %></a></li>
      <% end %>
    </ul>
  </div>
                </div>
<!--
                <div class="row">
                        <noscript><button type="submit" class="btn btn-primary" type="hidden">Submit</button>
                </div>
-->
        <% end %>
        <br>

<div class="row">
          <table class="table table-bordered table-striped" id="commitstable">
            <thead>
            <tr>
              <th> # </th>
              <th> User Story </th>
              <th> Project </th>
              <th> Branch </th>
              <th> Timestamp </th>
              <th> Commit ID </th>
              <th> E-Mail </th>
              <th> Comment </th>
              <th> Package </th>
            </tr>
            </thead>
           
            <% @commits.each do |record| %>
              <tbody>
                <tr>
                  <td> <%= record[0] %> </td>
                  <td> <%= record[1]['userstory'] %> </td>
                  <td> <%= record[1]['projectname'] %> </td>
                  <td> <%= record[1]['branchname'] %> </td>
                  <td> <%= record[1]['timestamp'] %> </td>
                  <td> <%= record[1]['commitid'] %> </td>
                  <td> <%= record[1]['email'] %> </td>
                  <td> <%= record[1]['comment'] %> </td>
                  <td> <%= record[1]['packagename'] %> </td>
                </tr>
              </tbody>
            <% end %>
          </table>
</div>
</div>
<script type="text/javascript">
  $("table").tableExport();
</script>
