<!DOCTYPE html>
<html>
<head>
  <title>Package Commit Viewer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<center><h1>Package Commit Viewer</h1></center>
	<br>
	<%= form_tag("/fetch", method: "post") do %>	
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-9">
			</div>
		</div>
		<br>
		<div class="row">
			<center><button type="submit" class="btn btn-primary">Submit</button></center>
		</div>
	<% end %>
	<br>
	<%= yield %>
</div>
</body>
</html>
